main {
  padding: 1rem;
  margin: 1rem;
}

#options {
  max-width: 720px;
}

#options .container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#options .container input[type="checkbox"] {
  width: 1rem;
}

#options .button-box {
  display: flex;
  justify-content: flex-end;
}
